<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DroneSpike.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36ADF7F91BF13E1E0021ED2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36ADF80D1BF13E1E0021ED2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36ADF8181BF13E1E0021ED2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
